navbar*/
.nav-link{
	font-size: 20px;
}
.log{
	border-left:  2px solid #0ea329;
	height: 32px;
	margin: auto;

	
}

/*Jumbotron*/
.jumbotron{
	background-color: #0ea329;
	background-size: cover;
	height: 390px;
	position: relative;
}
.jumbotron .container{
	z-index: 1;
	position: relative;
}

.jumbotron::after{
	content: '';
	display: block;
	width: 100%;
	height: 70%;
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0)) ;
	position: absolute;
	bottom: 0;
}
.jumbotron .display-4{
	text-align: center;
	margin-top: 40px;
	font-size: 35px; 
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/*Info panel*/
.info-panel{
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	margin-top: -80px;
	background-color: white;
	padding: 20px;
	height: 90px; 
}
.info-panel img{
	width: 65px;

}
.info-panel h4{
	width: 450px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	margin-top: 6px;
}
.info-panel p{
	font-size: 22px;
	color: #acacac;
	margin-top: -8px;
}


/*Uttilities*/
.tombol{
	text-transform: uppercase;
	border-radius: 35px;
}

/*Desktop*/
@media (min-width: 992px) { 
	.navbar-brand, .nav-link{
		/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);*/
	}
	
	.nav-link{
	text-transform: uppercase;
	
	}
	.nav-link:hover::after{
		content: "";
		display: block;
		border-bottom: 2px solid ;
		width: 50px;
		margin: auto;
		margin-bottom: -5px;
	}

	.jumbotron{
	background-color: #0ea329;
	background-size: cover;
	height: 550px;
}
	.jumbotron .display-4{
		font-size: 65px;
	}

 }

/*tutup